---
theme :
  name : twitter
---
{% include JB/setup %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/xhtml;charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=9"/>
<title>CoActionOS Docs</title>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="dynsections.js"></script>
<link href="navtree.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="resize.js"></script>
<script type="text/javascript" src="navtree.js"></script>
<script type="text/javascript">
  $(document).ready(initResizable);
</script>
<link href="../../assets/themes/twitter/bootstrap3/css/bootstrap.min.css" rel="stylesheet">
<script src="../../assets/themes/twitter/bootstrap3/js/bootstrap.min.js"></script>
<link href="../../assets/themes/twitter/bootstrap3/css/font-awesome.min.css" rel="stylesheet">
<link href="../../assets/themes/twitter/css/style.css" rel="stylesheet">
<script type="text/javascript" src="doxy-boot.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    if ($('.searchresults').length > 0) { searchBox.DOMSearchField().focus(); }
  });
</script>
<link rel="search" href="search-opensearch.php?v=opensearch.xml" type="application/opensearchdescription+xml" title="CoActionOS"/>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21543723-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body style="min-height: 200px; padding-top: 50px;">
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".menu-navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="../../index.html">
							<img style="height: 22px;" src="../../images/CoActionOS-Logo.svg" />
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse menu-navbar-collapse" role="navigation">
						<ul class="nav navbar-nav">
							<li><a href="#"><i class="fa fa-phone"></i> Services</a></li>
							<li><a href="https://github.com/CoActionOS"><i class="fa fa-code-fork"></i> Code</a></li>
							<li><a href="../../downloads.html"><i class="fa fa-cloud-download"></i> Downloads</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text-o"></i> Docs <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="../../coactionos/html/">CoActionOS</a></li>
									<li><a href="../../coactionos-applib/html/">CoActionOS Applib</a></li>
								</ul>
							</li>							<li><a href="../../tips.html"><i class="fa fa-lightbulb-o"></i> Design Tips</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#"><i class="fa fa-info-circle"></i> About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>

<div class="container" style="margin-top: 1em">
<div class="row">
<div class="col-md-offset-1 col-md-10">
<div class="panel panel-default panel-body">
<div id="top"><!-- do not remove this div, it is closed by doxygen! -->
<!-- end header part -->
{{ content }}
</div>
</div>
</div>
</div>
<hr>
<div class="container">
<div class="row">
<div class="col-md-offset-1 col-md-10">
&copy 2012-2014 CoActionOS, Inc; All rights reserved. <small>Generated by doxygen $doxygenversion</small>
</div>
</div>
</div>
</body>
</html>

